<ion-header>
	<ion-toolbar>
		<ion-title>Zeskanuj paragon</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Zeskanuj paragon</ion-title>
		</ion-toolbar>
	</ion-header>

	<ion-img *ngIf="photo" [src]="photo.webPath"></ion-img>

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button [routerLink]="'/home'">
			<ion-icon name="close-outline"></ion-icon>
		</ion-fab-button>
		<ion-fab-button (click)="addPhotoToGallery()">
			<ion-icon name="camera"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
