<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Mój kompostownik
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Mój kompostownik</ion-title>
		</ion-toolbar>
	</ion-header>

	<div id="container">
		<strong>Ready to create an dupa?</strong>
		<p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>

		<a [routerLink]="'/scanner'">Idź do skanera</a>
	</div>
</ion-content>
